@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  background: #fff;
  padding: 1rem;
  margin: 1rem auto;
}

h1 {
  margin-bottom: 1rem;
  color: #222;
  font-family: 'KattuxAbc', sans-serif;
}

.description,
.controls,
.text-input,
.file-input,
.download-button,
.placeholder,
.preview,
.card,
.read-the-docs {
  font-family: 'Roboto', sans-serif;
}

.description {
  margin-bottom: 2rem;
  color: #666;
  font-size: 1.1rem;
  line-height: 1.5;
}

.controls {
  clip-path: polygon(4.25% 8%,
      96.75% 1%,
      100% 38%,
      99% 94%,
      74.5% 100%,
      0.25% 90%,
      0 50%);
  background-color: #F2ECEE;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;

}

.file-input,
.text-input {
  border-radius: 8px;
  background: #fafafa;
  border: 2px solid #ccc;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s, background 0.2s;
}

.file-input:focus,
.text-input:focus {
  border-color: #b8006b;
}

.file-input:hover {
  background: #f0e6fa;
}

.text-input:hover {
  background: #f0e6fa;
}

input[type="range"]:hover {
  background: #e0e0e0;
}

.download-button {
  background: #EC008C;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 8px rgba(236, 0, 140, 0.08);
  border: none;
  margin-top: 1rem;
  transition: background 0.2s, box-shadow 0.2s;
}

.download-button:hover:not(:disabled) {
  background: #b8006b;
  box-shadow: 0 4px 16px rgba(236, 0, 140, 0.12);
}

.download-button:disabled {
  background: #f3b3d6;
  color: #fff;
  cursor: not-allowed;
}

.preview {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(236, 0, 140, 0.04);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 400px;
}

.canvas {
  max-width: 100%;
  max-height: auto;
  cursor: move;
  background: #fff;
}

.placeholder {
  color: #666;
  font-size: 1.2rem;
  opacity: 0.8;
}

.magello-logo {
  display: block;
  margin: 1rem auto 1rem auto;
  max-width: 180px;
  height: auto;
  padding: 12px 24px;
}